<!DOCTYPE html>
<html>
<head>
	<title>Choose your villager</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
</head>

<body>

{{{body}}}

</body>
<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2017 angrbrd entertainment</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/ClaireRussellAZ">Reference Work</a>
			</div>
		</div>
	</footer>
</body>
</html>